@import '../styles/abstracts/variables';

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .spinner {
        font-size: 3rem;
    }
}